@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@* 23.5.2022. My partial view _Header.cshtml doesn't have any content
        so I try to fix that with help of this website: https://www.tutorialsteacher.com/mvc/partial-view-in-asp.net-mvc
        and especially this website: https://docs.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/3-creating-a-consistent-look
        from where I get advice about security: "Notice that the file name is _Header.cshtml, with an underscore (_) as
        a prefix. ASP.NET won't send a page to the browser if its name starts with an underscore.
        This prevents people from requesting (inadvertently or otherwise) these pages directly. It's a good idea to use an underscore to name pages that have content blocks in them, because you
        don't really want users to be able to request these pages — they exist strictly
        to be inserted into other pages."
        But content example I get from this website: https://www.tutorialsteacher.com/mvc/partial-view-in-asp.net-mvc
        so I add: <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    but when I debug, nothing of header shows up. Partial view header
    has to be called from a cshthml-file. I commit and push with message
    "Filling partial view _Header.cshtml with content 23.5.2022."*@

@* 24.5.2022. I get additional instructions: TODAY
    View Attila’s profileAttila Starkenius
    Attila Starkenius  12:53 AM
    Sorry that I have been so slow, I promise to be more social and communicative like you have leafned me, Toni
    *learned Best Regards, Attila
    I commit and push with message "Asking if I can help with programming Conesult website 24.5.2022."*@

@* 26.5.2022. I get additional instructions: "Toni Babic  3:41 PM
    Hahaha, very funny... 😁

    Okay, if you look Conesult platform, what do you think it should be improved?
    TODAY
    Attila Starkenius sent the following message at 4:44 PM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  4:44 PM
    Could the menu at the top of conesult.com page stay at top of page even when you're scrolling down? Now it appears only when you scroll the page up
    Conesult - Digital business incubator
    conesult.com • 1 min read
    Conesult is a place where you can develop any concept or connect to other businesses. Community consultation and skill exchange activities. Our mission is to sustain a place where everyone can get consultation, and development assistance, i.e. greater...
    " I commit and push with message "Suggesting that conesult.com top menu stays at the top of viewport when
    you scroll page down" *@

@* 28.5.2022. I get additional instructions: "FRIDAY
    Toni Babic sent the following message at 1:13 PM
    View Toni’s profileToni Babic
    Toni Babic  1:13 PM
    We added this condition due to have more space for other elements, epically for the mobile screens.

    Example, before we had a floating footer, and than have a feedback from our members to have more space for other elements.

    What do you think now of the feedback you provided, can we go further from here?
    TODAY
    Attila Starkenius sent the following message at 11:50 PM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  11:50 PM
    What about making menu "sticky", showing up only when there is space for it without taking space from other elements, here is a citation with explanation what sticky is: "What does sticky footer mean?
    A sticky footer pattern is one where the footer of your page "sticks" to the bottom of the viewport in cases where the content is shorter than the viewport height." Though in this case, obviously, menu sticking to the top of the viewport is my suggestion. Viewport being only the part of the web page that you actually see at the moment on your screen



    Maximize compose field
    Attach an image to your conversation with Toni Babic
    Attach a file to your conversation with Toni Babic

    Open GIF Keyboard

    Open Emoji Keyboard
    Send

    "
    I commit and push with message "Suggesting to conesult.com sticky top menu 29.5.2022." *@

@* 30.5.2022. I get additional instructions: "TODAY
    View Attila’s profileAttila Starkenius
    Attila Starkenius  1:14 AM
    What about java development of the backend of Conesult? Can I effectivize it in some way?"
    I commit and push with message "Suggesting that I help with
    backend development of conesult.com 30.5.2022."*@

@* 5.6.2022. I get new instructions: Toni Babic  8:07 AM
    Do you know bubble.io?

    We are building Conesult with bubble.io, maybe you could help us with mobile responsiveness,
    if there is any unresponsive elements on the platform?
    THURSDAY
    Attila Starkenius sent the following message at 7:45 PM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  7:45 PM
    Tricky question i am still looking after, it's very good already
    SATURDAY
    Toni Babic sent the following message at 7:06 AM
    View Toni’s profileToni Babic
    Toni Babic  7:06 AM
    How do you look?

    Would you like be more of a creative and thinker? Problem solver?


    To test something and to see more about, you need to use, and experience that something.

    What if you can see Conesult as your platform, and that you can have own feature or any type of
    element that is labeled as you built it, what would be the element?
    TODAY
    Attila Starkenius sent the following message at 7:45 PM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  7:45 PM
    Hey Toni, on the cell phone the support box is somewhat unresponsive, when
    you click on "Support" at the right bottom corner of the cell phone page
    conesult.com, the support box fills half of the page. There is not much
    possibility to see much of the page while writing message to support, so
    having a little bit of the web page kind of loses the meaning that it
    might have while surfing on a casual computer screen; to see much of
    the page AND the support box at the same time. I suggest that clicking
    "Support" while surfing on the cell phone page conesult.com, it leads
    to a new page that is completely a support page Best Regards, Attila Starkenius
    I commit and push with message "Suggesting a completely new support page
    especially while browsing conesult.com with a cell phone screen 5.6.2022."*@

@* 6.6.2022. I get additional instructions "
    Toni Babic sent the following message at 8:01 PM
    View Toni’s profileToni Babic
    Toni Babic  8:01 PM
    And on the support new page, you will hqvea bigger screen? 🤔 😁

    https://conesult.com/connect

    Support button serves as quick message to Conesult.

    How do you imagine to have it there, the best solution would be to have live support chat over the whole screen, but at the moment we can't do that.

    What do you see?

    Connect — Conesult
    conesult.com • 1 min read
    TODAY
    Attila Starkenius sent the following message at 10:32 PM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  10:32 PM
    Haha you're right😉If money is an issue, the free live chat https://www.tawk.to/ might be a solution

    100% FREE Live Chat Software, Ticketing & Knowledge Base! – www.tawk.to
    tawk.to • 1 min read
    " I commit and push with the message: "Suggesting https://www.tawk.to/ as a free live chat
    function to conesult.com 6.6.2022." *@

@* 20.6.2022. I get additional instructions at the web page: "https://conesult.com/home?menu=consultation&consultation=pricing-strategy-for-cloth-price-comparison-site&comment=1652738896085x868237314422703100&reply="
                            and I write reply to "Valeria Ochoa
                            Student
                            Hi! Could you please elaborate on what you refer to when you say " create value"?  thank you!"
                            like this: "Sorry for late reply. I mean that, is there a way to do a database with the different suppliers prices that is not too expensive,  now in the beginning when I am uncertain about how realistic my price plan is? Best Regards, Attila"
                            so that the web page: https://conesult.com/home?menu=consultation&consultation=pricing-strategy-for-cloth-price-comparison-site&comment=1652738896085x868237314422703100&reply=
                            looks like this: "


                        9 days ago
                        Pricing strategy for cloth price comparison site?
                        #managementconsultation  #businessdevelopment  #innovation
                        Could you please share your thoughts on how to create a pricing strategy for a website that searches for common patterns of fitting clothes that you buy in order to give customers a hint about what are the most popular ways to combine clothes that you buy online?
                        Viewers
                        83
                        Feedback
                        16
                        Upvotes
                        10
                           Sort Comments by

                        Time
                        a month ago
                        Goran Plibersek
                        Consultant
                        1 consultation comments
                        Creating big base with different suppliers prices.
                        Prices can be "scraped" from sites with additional softwares.

                        Reply

                        2
                        Close reply thread
                        a month ago
                        Attila Starkenius
                        Consultant
                        Thanks for the consultation comment!

                        That is our goal, to have big pool of suppliers.

                        Do you have any advice how to reach suppliers, or should we just fetch prices with additional softwares, or should we contact them first as to establish some form of a connection?

                        Edit

                        Delete

                        0
                        a month ago
                        Toni Babic
                        Entrepreneur
                        17 consultation comments
                        The concept could be seen as being between clothing stores and buyers to predict and customize the shopping experience.

                        One idea is to have a fee for businesses that would like to use your service as complimentary (b2b), and another idea is to have a subscription base pricing plan and go b2c, which is for buyers to pay and continue to use your service for a better shopping experience.

                        Something to keep in mind is that b2c (business to customer) would be much easier to start with and require less investment in the beginning compared to b2b (business to business), where customers would be related clothing shops with whom a new entity in a market would have a "harder time" connecting with (in the beginning).

                        I look forward to hearing from you more about what you see at this moment in regards to these two ideas, and if you have another pricing concept in mind, and also I am looking forward to you updating your concept business plan "customer section" in particular.

                        Something that is worth doing and something you can learn a lot and save time here is doing research on other similar concepts in the market (i.e., competition), which will make a customer section easier for you to fulfill as well.

                        Reply

                        2
                        Close reply thread

                        a month ago
                        Attila Starkenius
                        Consultant
                        Ok, thanks! Will write this down, as to explore further, b2b or b2c! And will reach to you if there are any related questions, or simply next time I can create a more specific consultation request to one of those.

                        Edit

                        Delete

                        0
                        a month ago
                        Anton Strandqvist
                        Student
                        2 consultation comments
                        One option is to implement commissions on every bought garment and offer that as an additional service to the stores. Otherwise, could you create an addition that the stores have on their webpage and takes a subscription fee for the service.

                        Another option is to create a Software as a Service (SaaS) for the stores, but then it is just B2B oriented. Since B2B requires high initial investment costs, the recommended approach is to start with commissions to get data on the use of the service.

                        Reply

                        2
                        Close reply thread
                        a month ago
                        Attila Starkenius
                        Consultant
                        This was my first idea, to have own additional fee, but now it seems I need to do more of a research, as few more doors has been opened here for me, one of which you mention, b2b, another is b2c.

                        Selling fee could be implemented on both, whereas first is to establish the bigger pricing strategy, e.g. b2b or b2c.

                        Edit

                        Delete

                        0
                        a month ago
                        Raiymbek Manarbek
                        Student
                        6 consultation comments
                        I'll definitely agree with another comment that suggests creating a big database. In this type of work, doing it manually is way too time-consuming and some software implementation is absolutely a must.

                        Other than that, it's a quite difficult concept and it would be hard to realize without significant data backing. Perhaps acquiring data from, or insights about the industry might be a good start.

                        Reply

                        1
                        Close reply thread
                        a month ago
                        Attila Starkenius
                        Consultant
                        Thanks for the consultation comment!

                        Is there a way that you see how we could make this process easier, in the best case for others, e.g. retailers to help us fill-in the database, or what would be a concept here exactly, perhaps as part of the pricing plan?

                        Edit

                        Delete

                        0
                        a month ago
                        Raiymbek Manarbek
                        Student
                        Hmm, that's an interesting question. I thought about getting and, if neccessary, purchasing data through retailers or from any other holders of data. There're quite a few companies specializing in that, so that might be a good bet. If there're none, then collecting the data from retailers and other sources might take some time and likely not be fully complete, but that should give enough to start the project and continuously gather data over time.

                        Other than that, I don't have much to add.

                        Reply

                        0
                        Seconds ago
                        Valeria Ochoa
                        Student
                        2 consultation comments
                        I also consider creating a database with the different suppliers prices is a good approach to begin with. The data could be collected from offering the service in exchange of  a comission for the clothes bought (as someone else recommended), and also additional software could be used to support the collection and to check its consistency.

                        Reply

                        1
                        Close reply thread
                        a month ago
                        Attila Starkenius
                        Consultant
                        Okay! It seems that database is the one of the main, and if not a main aspect of my concept here. The question is now that I came as far, how to make the filling of the data? Do you think we can create enough value for retailers to fill-in own data?

                        Edit

                        Delete

                        0
                        a month ago
                        Valeria Ochoa
                        Student
                        Hi! Could you please elaborate on what you refer to when you say " create value"?  thank you!

                        Thread

                        0
                        Seconds ago
                        Attila Starkenius
                        Consultant
                        Sorry for late reply. I mean that, is there a way to do a database with the different suppliers prices that is not too expensive,  now in the beginning when I am uncertain about how realistic my price plan is? Best Regards, Attila

                        Edit

                        Delete

                        0
                        a month ago
                        Bayo Ojo
                        Student
                        6 consultation comments
                        Hi,
                        Here are a few pointers to help you decide how to choose the best pricing strategy

                        1. Understand your clients.
                        Who are they? What do they do? What are they likely to do? What are they not likely to do?
                        People always have a pattern of behavior. Understanding the pattern will allow you to understand things such as their financial capacity, the kind of products they consume, how they'll react to changes in price, etc.

                        2. Who are your competitors?
                        What is the pricing strategy common among businesses in the same trade? What is the reasoning behind that pricing strategy? What are the advantages? Disadvantages? How would your business fare if you adopted the same pricing strategy as your competitors?
                        Understanding your competitors will give you insight into the industry trends. You'll be able to know your competitors' strengths and weaknesses, and pick or develop a pricing strategy that is stronger and more sustainable than theirs. Are your competitors likely to adopt a new pricing strategy in ten years? Five years? How sustainable are their pricing strategies?
                        Or you'll be able to know if the current trend is something that can last, something you should adopt for your own business.

                        3. Understand your business
                        What are the resources you have at your disposal? What kind of risks can your business take? How can your business handle losses? Understanding all this will help you decide if you want to adopt a relatively safer pricing strategy.

                        Reply

                        1
                        Close reply thread
                        a month ago
                        Attila Starkenius
                        Consultant
                        Thanks for detailed comment, how well does using web banners fit to this concept?

                        Edit

                        Delete

                        1

                        19 days ago
                        Slavko Stojnić
                        Consultant
                        9 consultation comments
                        One of the recent courses at Stockholm Business School I was in a project group with a guy who had a similar idea for years...  we processed it and presented it but I'm not sure if I can find the materials. It was a web-app (both website and app) that would allow people to mix&match things, try them out virtually, share the outfits and wardrobes that they "collected", etc, etc.

                        I was just relieved that for once it's not my idea that's being used for a project. Don't remember the guy's name either... it was a single course, outside of my Master's Programme Curriculum.

                        Anyway, I guess the point of my post is that you shouldn't limit the scope of value/service and also if anything that I wrote gave you any ideas, you're welcome.

                        Of course the idea was to "milk" the big clothing companies for money in return for exposure. I can't recall if there were any ideas about other "paths" to financial gain... Oh well.

                        Update: I found the paper from the course (business model elaboration) as well as the guy who had the idea.

                        https://www.linkedin.com/in/oscar-engwall-647a79157/

                        Here's Oscar if you want to contact him.

                        Reply

                        0
                        Help u(s) reach more consultation by sharing this post via:
                        EmailFacebookTwitterLinkedInPinterestTumblrReddit
                         Copy to Clipboard

                        10
                        CONNECTING

                        CHANNELS
                        CONCEPTS
                        CONSULTATIONS
                        COLLABORATIONS

                        SUPPORT
                        "

                        Also I help Valeria Ochoa with Sisters Ride Concept in website:
                        https://conesult.com/home?tab=concept&tab2=proposing&s=sisters-ride&tab3=consultation&tab4=&tab5=
                        by posting consulting proposition with this text: Title: "Implementation of https://www.redpanicbutton.com/ "
                        and Description: "Hey Valeria, I could help you programr an implementation that similar of https://www.redpanicbutton.com/ to Whatsapp Best Regards, Attila Starkenius"
                        and Keywords: Sisters ride, Panic Button, Implementation
                        download tawk.to and write in website: https://dashboard.tawk.to/?lang=en#/wizard/2
                        settings: Site Name: Conesult
                        Enter Site URL: https://conesult.com/
                        Enter Widget Name: Chat Box
                        And add team members for now only: eam Members
                    Invite your coworkers and set their access level.
                    An Admin can configure and customize settings, an Agent can only answer chats and tickets



                    symphtom@hotmail.com
                    Role :
                Admin
                    and then I come to the page https://dashboard.tawk.to/?lang=en#/wizard/4
                which looks like this: "
            Final step.. you're almost there!
            4
            Install Widget
            To install tawk.to, you can place this code before the </body> tag on every page of your website.

            <!--Start of Tawk.to Script-->
            <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/62b0f184b0d10b6f3e785998/1g61iurkr';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
            </script>
            <!--End of Tawk.to Script-->
            Or you can also use a tawk.to plugin for one of the popular platforms


            Wordpress
            You may also send these instructions to your developer

            Enter your developer's Email here
            If you want to send to multiple email addresses, separate them by comma.
             Back
            AAttila Starkenius
            Properties
            A
            Attila Starkenius
            (Profile)
            C
            Conesult
            Add Property
            8
            Groups
            Direct Messages
            A
            Attila Starkenius (You)
            "
            I send the code to my boss Toni Babic like this: "TODAY
        View Attila’s profileAttila Starkenius
        Attila Starkenius  12:21 AM
        Sorry for late reply! I am testing if tawk.to code works without advertisements, and still working on that, here is the code itself: <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/62b0f184b0d10b6f3e785998/1g61iurkr';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->



        Maximize compose field
        Attach an image to your conversation with Toni Babic
        Attach a file to your conversation with Toni Babic

        Open GIF Keyboard

        Open Emoji Keyboard
        Send"
        I also download tawk.to plugin to wordpress from the very same
        web page https://dashboard.tawk.to/?lang=en#/wizard/62b0ef597b967b1179958af3
        I also add this tawk.to plugin code to _Header.cshtml at the
    end of the file because otherwise the page load will wait on the script
    and can be slow: "<!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/62b0f184b0d10b6f3e785998/1g61iurkr';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->"
    absolutely nothing of _Header.cshtml shows on https://localhost:44379/; that
    is the next problem to fix - Make _Header.cshtml as a partial view referenced in
    _Layout.cshtml and used on every cshtml page of application.
    I commit and push with message "21.6. 2022. Helping Valeria Ochoa with conesult concept https://conesult.com/home?tab=concept&tab2=proposing&s=sisters-ride&tab3=consultation&tab4=&tab5="
*@

@* 22.6.2022. I get additional instructions: "Toni Babic  11:52 AM
    Hi Atilla,

    No for code, if there is advertising part which we don't like..

    There is another option for us to have a very good chat feature, to redirect our chats at email, for example Gmail that can be sent and started through Conesult.


    Btw. I have seen your "not appropriate" consultation request proposal. Can you share about that a bit? Not related in any way, toward the feature usage, nor toward the concept itself with the proposal.
    TODAY
    Attila Starkenius sent the following message at 10:38 PM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  10:38 PM
    Okay, I thought she wants a whatsapp feature similar to alert button
    "
    I talked with my friend Jonas Mathieu Lawrence and he inspired
    me to learn R and Go programming languages so I add R and Go
    to this project, first R I download R tools for Visual Studio 2019 from this
    website: https://marketplace.visualstudio.com/items?itemName=MikhailArkhipov007.RTVS2019

     *@


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/62b0f184b0d10b6f3e785998/1g61iurkr';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
