@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*I get additional instructions: "Toni Babic  4:52 PM
    Do you want to open a clothing store? Or use your personalized website as the personal website.
    TODAY
    Attila Starkenius sent the following message at 12:26 AM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  12:26 AM
    Sorry for late reply, I want to open a clothing store"
    I commit and push with message: "Additional instructions to conesult concept 3.4.2022."*@

@*4.4.2022. I get more instructions: Toni Babic  7:00 PM
    All good Attila!

    You are great!

    How you come up with the clothing store :)) from web developer :)
    Are you serious?
    TODAY
    Attila Starkenius sent the following message at 4:33 AM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  4:33 AM
    Okay then I want to use my personalized website as the personal website
    I also notice I had made typing error: ClothCombinationPriceEstimation.csthml
    so I change the file ending to: ClothCombinationPriceEstimation.cshtml
        and commit and push to git changes with
        message: "Decision to use my personalized website and correct file ending .cshtml 4.4.2022. "*@


@*4.4.2022. I get ManagedProjectSystemPackage error when I start visual studio and
        choose "Don't continue showing this error". I continue working with ClothCombinationPriceEstimation.cshtml
        and use this website as help: https://www.c-sharpcorner.com/UploadFile/rahul4_saxena/design-a-master-page-with-header-footer-and-body-in-mvc-app/
        so I add: <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                @Html.Partial("_Header")
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @Html.Partial("_Footer")
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
    </html> I commit and push to git changes
    with message: "Working with ClothCombinationPriceEstimation.cshtml header, body and footer 4.4.2022."*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@using System.Web.Optimization*@
    @*@Styles.Render("~/Content/css")*@
    @* 4.4.2022. When I debug I get error Severity	Code	Description	Project	File	Line	Suppression State
        Error	CS0103	The name 'Styles' does not exist in the current context	httpswwwhemfridse	C:\Users\symph\source\repos\httpswwwpandycocampaignflyttform\httpswwwhemfridse\Views\Home\ClothCombinationPriceEstimation.cshtml	77	Active
        I commit and push
        with message "Fixing missing referenced files in ClothCombinationPriceEstimation.cshtml 4.4.2022."
    *@
    @* 4.4.2022. What causes according to this site: https://stackoverflow.com/questions/23534516/the-name-scripts-does-not-exists-in-the-current-context-in-mvc
                        is that I am missing Microsoft.AspNet.Web.Optimization so I
                        install it: https://www.nuget.org/packages/Microsoft.AspNet.Web.Optimization/
                        it doesn't help and this doesn't help:     @using System.Web.Optimization

                so I comment out     @Styles.Render("~/Content/css")
        and       @Scripts.Render("~/bundles/modernizr")
        When I debug there is http 404 error page could not be found, so I add in Homecontroller.cs file
        ClothCombinationPriceEstimation action method: public IActionResult ClothCombinationPriceEstimation()
        {
            return View();
        }
        Now when I debug I get error InvalidOperationException: The partial view '_Header' was not found. The following locations were searched: /Views/Home/_Header.cshtml /Views/Shared/_Header.cshtml
        I commit and push with message "Fixing partial views of ClothCombinationPriceEstimation.cshtml 4.4.2022."
    *@

    @* 7.4.2022. I get additional instructions: ""Toni Babic  4:11 PM
                        Okay! Let's start from a begining.

                        Do you have a concept name, logo? More about the concept, perhaps some slides that explain more?""

                        I come up with three key words: Price, fashion and opinion
                        I go to https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=page&tab4=
                        and try to create slideshow using https://conesult.com/concept/conesult?tab2=page&tab=concept
                        as help and the help example site looks like this:
                Concept
                Conesult
                Company; Business development
                Digital (business) incubator & accelerator accessible to everyone at any time
                #businessinnovation  #managementconsultation  #developmentcommunity
                I
                CONCEPT
                II
                CONSULTATION
                III
                COLLABORATION
                Page
                Plan
                Pitch


                2
                CONNECTING

                CHANNELS
                CONCEPTS
                CONSULTATIONS
                COLLABORATIONS

        I choose "Presentation" template in canva.com and come
                to edit page: https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
        I first add photo: <div><span data-canva-clipboard="ewAiAGEAIgA6ADUALAAiAGQAIgA6ACIAQgAiACwAIgBoACIAOgAiAHcAdwB3AC4AYwBhAG4AdgBhAC4AYwBvAG0AIgAsACIAYwAiADoAIgBEAEEARQA5AFAAYwBpAHoAWABSAG8AIgAsACIAaQAiADoAIgB3AGEARgBBAHMANQBIAC0AeABtAHkAVwBCAE4AYgBrAFgAbwAzAGcASABnACIALAAiAGIAIgA6ADEANgA0ADkAMwA2ADYAMgA1ADgAOQA2ADcALAAiAEEAPwAiADoAIgBCACIALAAiAEEAIgA6AFsAewAiAEEAIgA6ADEAMAA4ACwAIgBCACIAOgAzADEAMQAuADUAOQA0ADcANAA2ADcAMQA2ADYAOQA3ADkANQAsACIARAAiADoAMQAyADkANgAuADgAMQAwADUAMAA2ADUANgA2ADYAMAA0ACwAIgBDACIAOgA4ADYANAAsACIAQQA/ACIAOgAiAEkAIgAsACIAYQAiADoAewAiAEIAIgA6AHsAIgBBACIAOgB7ACIAQQAiADoAIgBNAEEARABHAHgALQBDAEYAUwBDAHcAIgAsACIAQgAiADoANAB9ACwAIgBCACIAOgB7ACIARAAiADoAMQAyADkANgAuADgAMQAwADUAMAA2ADUANgA2ADYAMAA0ACwAIgBDACIAOgA4ADYANAB9AH0AfQB9AF0ALAAiAEIAIgA6ADEAOQAyADAALAAiAEMAIgA6ADEAMAA4ADAAfQA="></span></div>
        and choose to use the photo as background picture.
        Then I add header: "Price, fashion and opinion" I download it as standard pdf
        file and give the file name "Conesult presentation made in canva.com.pdf" and
        also share to my presentation to my employer Toni Babic and send him text:
        Here is beginning of my canva slideshow:
        https://www.canva.com/design/DAE9PcizXRo/6p1-4zkpiyXHyHjpDrBsXQ/view?utm_content=DAE9PcizXRo&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel
        (sorry delay, just first page) and I think about using the picture in which woman with
        sunglasses poses as logo and u slogan "Price, fashion and opinion"
        I commit and push with message "Beginning work with conesult concept slideshow in website
        https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit 7.4.2022."
    *@

    @* 9.4.2022. I get additional instructions: Toni Babic  2:46 PM
                Okay!

                Are you more comfortable with writing? Example to explain your concept idea with plain text? Could be one paragraph, or one page text!
                Attila Starkenius  3:36 AM
        Okay Toni, I try ;)
        I commit and push with message: "Additional instructions to Conesult concept 9.4.2022."*@

    @* 11.4.2022. I get additional instructions to Conecult concept: SUNDAY
        Toni Babic sent the following message at 7:54 PM
        View Toni’s profileToni Babic
        Toni Babic  7:54 PM
        The goal is to crystallize your concept, the better we see it and understand it, the better we can develop it.

        It will be up to us to find ways to do so...
        TODAY
        Attila Starkenius sent the following message at 1:15 PM
        View Attila’s profileAttila Starkenius
        Attila Starkenius  1:15 PM
        That sounds nice, I will do my best I commit and push
        with message "Additional instructions to making a concept description of conesult concept 11.4.2022." *@

    @* 13.4.2022. Link to my conesult concept slideshow
        is: https://www.canva.com/design/DAE9PcizXRo/6p1-4zkpiyXHyHjpDrBsXQ/view?utm_content=DAE9PcizXRo&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel
        but my edit page for it is: https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
        and I change name from "Namnlös design" to: ""Cloth combination price estimation"
        (by the way Canva autosaves the changes, but if I want to share the project
        I do it manually because I don't find any "automatically
        share the link to this project when change in project occurs option"'and
        then I add a page with three headers "Price", "Fashion" and "Opinion" but change
        font size from 90 to 70 to make place to all text and commit and
        push with message: "Adding second page in conesult concept slideshow
        https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit 13.4.2022."*@

    @* 19.4.2022. I continue working with conesult concept presentation at
                                        the edit page https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
                                        and add content to second page under the three
                                        headers"Price", "Fashion" and "Opinion":
                                        Header: Price
                                        Paragraph: Find the lowest price to clothes you want to buy - and at the same time
                                        keep track of what combination of clothes is most popular and rising
                                        fashion trends. So that you don't have to compromise the money you invest to clothes.
                                        Header: Fashion
                                        Paragraph: Keep track on the fashion that is popular either in long or short
                                time aspect while also getting information about the price of the clothes you want to buy.
                                Header: Opinion
                                Paragraph: Register an account to be able to rate the cloth combinations that you
                                have tried - or just check out other people's opinions about how clothes fit together.
                                I share this to Toni Babic
                                in Linkedin chat: "
                        TODAY
                        View Attila’s profileAttila Starkenius
                        Attila Starkenius  1:38 AM
                        Sorry late reply I have written concept description on the second page of presentation: https://www.canva.com/design/DAE9PcizXRo/6p1-4zkpiyXHyHjpDrBsXQ/view?utm_content=DAE9PcizXRo&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink

                        Untitled design
                        canva.com • 1 min read
                        "

                        I also edit in: https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=plan&tab4=
                        problem description
                        short description(What problem we solve)
                        to: ""Find out while buying clothes from internet, whats common cloth combinations and lowest prices""
                        And send that also to Toni Babic:
                canva.com • 1 min read
                View Attila’s profileAttila Starkenius
                Attila Starkenius  1:44 AM
                Also the problem description(short description) I have added to and will write further extensive description in: https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=plan&tab4=

                Conesult - Digital business incubator
                conesult.com • 1 min read



                Maximize compose field
                Attach an image to your conversation with Toni Babic
                Attach a file to your conversation with Toni Babic

                Open GIF Keyboard

                Open Emoji Keyboard
                Send

        I commit and push with message: "Fixing
        https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit second page
        and https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=plan&tab4= short problem
        description 19.4.2022."
    *@

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <div class="content-wrapper">
            @Html.Partial("_Header")
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                @Html.Partial("_Footer")
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
