@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*I get additional instructions: "Toni Babic  4:52 PM
    Do you want to open a clothing store? Or use your personalized website as the personal website.
    TODAY
    Attila Starkenius sent the following message at 12:26 AM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  12:26 AM
    Sorry for late reply, I want to open a clothing store"
    I commit and push with message: "Additional instructions to conesult concept 3.4.2022."*@

@*4.4.2022. I get more instructions: Toni Babic  7:00 PM
    All good Attila!

    You are great!

    How you come up with the clothing store :)) from web developer :)
    Are you serious?
    TODAY
    Attila Starkenius sent the following message at 4:33 AM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  4:33 AM
    Okay then I want to use my personalized website as the personal website
    I also notice I had made typing error: ClothCombinationPriceEstimation.csthml
    so I change the file ending to: ClothCombinationPriceEstimation.cshtml
        and commit and push to git changes with
        message: "Decision to use my personalized website and correct file ending .cshtml 4.4.2022. "*@


@*4.4.2022. I get ManagedProjectSystemPackage error when I start visual studio and
        choose "Don't continue showing this error". I continue working with ClothCombinationPriceEstimation.cshtml
        and use this website as help: https://www.c-sharpcorner.com/UploadFile/rahul4_saxena/design-a-master-page-with-header-footer-and-body-in-mvc-app/
        so I add: <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                @Html.Partial("_Header")
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @Html.Partial("_Footer")
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
    </html> I commit and push to git changes
    with message: "Working with ClothCombinationPriceEstimation.cshtml header, body and footer 4.4.2022."*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@using System.Web.Optimization*@
    @*@Styles.Render("~/Content/css")*@
    @* 4.4.2022. When I debug I get error Severity	Code	Description	Project	File	Line	Suppression State
        Error	CS0103	The name 'Styles' does not exist in the current context	httpswwwhemfridse	C:\Users\symph\source\repos\httpswwwpandycocampaignflyttform\httpswwwhemfridse\Views\Home\ClothCombinationPriceEstimation.cshtml	77	Active
        I commit and push
        with message "Fixing missing referenced files in ClothCombinationPriceEstimation.cshtml 4.4.2022."
    *@
    @* 4.4.2022. What causes according to this site: https://stackoverflow.com/questions/23534516/the-name-scripts-does-not-exists-in-the-current-context-in-mvc
                        is that I am missing Microsoft.AspNet.Web.Optimization so I
                        install it: https://www.nuget.org/packages/Microsoft.AspNet.Web.Optimization/
                        it doesn't help and this doesn't help:     @using System.Web.Optimization

                so I comment out     @Styles.Render("~/Content/css")
        and       @Scripts.Render("~/bundles/modernizr")
        When I debug there is http 404 error page could not be found, so I add in Homecontroller.cs file
        ClothCombinationPriceEstimation action method: public IActionResult ClothCombinationPriceEstimation()
        {
            return View();
        }
        Now when I debug I get error InvalidOperationException: The partial view '_Header' was not found. The following locations were searched: /Views/Home/_Header.cshtml /Views/Shared/_Header.cshtml
        I commit and push with message "Fixing partial views of ClothCombinationPriceEstimation.cshtml 4.4.2022."
    *@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <div class="content-wrapper">
            @Html.Partial("_Header")
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                @Html.Partial("_Footer")
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
