@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*I get additional instructions: "Toni Babic  4:52 PM
    Do you want to open a clothing store? Or use your personalized website as the personal website.
    TODAY
    Attila Starkenius sent the following message at 12:26 AM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  12:26 AM
    Sorry for late reply, I want to open a clothing store"
    I commit and push with message: "Additional instructions to conesult concept 3.4.2022."*@

@*4.4.2022. I get more instructions: Toni Babic  7:00 PM
    All good Attila!

    You are great!

    How you come up with the clothing store :)) from web developer :)
    Are you serious?
    TODAY
    Attila Starkenius sent the following message at 4:33 AM
    View Attila’s profileAttila Starkenius
    Attila Starkenius  4:33 AM
    Okay then I want to use my personalized website as the personal website
    I also notice I had made typing error: ClothCombinationPriceEstimation.csthml
    so I change the file ending to: ClothCombinationPriceEstimation.cshtml
        and commit and push to git changes with
        message: "Decision to use my personalized website and correct file ending .cshtml 4.4.2022. "*@


@*4.4.2022. I get ManagedProjectSystemPackage error when I start visual studio and
        choose "Don't continue showing this error". I continue working with ClothCombinationPriceEstimation.cshtml
        and use this website as help: https://www.c-sharpcorner.com/UploadFile/rahul4_saxena/design-a-master-page-with-header-footer-and-body-in-mvc-app/
        so I add: <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                @Html.Partial("_Header")
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @Html.Partial("_Footer")
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
    </html> I commit and push to git changes
    with message: "Working with ClothCombinationPriceEstimation.cshtml header, body and footer 4.4.2022."*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@using System.Web.Optimization*@
    @*@Styles.Render("~/Content/css")*@
    @* 4.4.2022. When I debug I get error Severity	Code	Description	Project	File	Line	Suppression State
        Error	CS0103	The name 'Styles' does not exist in the current context	httpswwwhemfridse	C:\Users\symph\source\repos\httpswwwpandycocampaignflyttform\httpswwwhemfridse\Views\Home\ClothCombinationPriceEstimation.cshtml	77	Active
        I commit and push
        with message "Fixing missing referenced files in ClothCombinationPriceEstimation.cshtml 4.4.2022."
    *@
    @* 4.4.2022. What causes according to this site: https://stackoverflow.com/questions/23534516/the-name-scripts-does-not-exists-in-the-current-context-in-mvc
                        is that I am missing Microsoft.AspNet.Web.Optimization so I
                        install it: https://www.nuget.org/packages/Microsoft.AspNet.Web.Optimization/
                        it doesn't help and this doesn't help:     @using System.Web.Optimization

                so I comment out     @Styles.Render("~/Content/css")
        and       @Scripts.Render("~/bundles/modernizr")
        When I debug there is http 404 error page could not be found, so I add in Homecontroller.cs file
        ClothCombinationPriceEstimation action method: public IActionResult ClothCombinationPriceEstimation()
        {
            return View();
        }
        Now when I debug I get error InvalidOperationException: The partial view '_Header' was not found. The following locations were searched: /Views/Home/_Header.cshtml /Views/Shared/_Header.cshtml
        I commit and push with message "Fixing partial views of ClothCombinationPriceEstimation.cshtml 4.4.2022."
    *@

    @* 7.4.2022. I get additional instructions: ""Toni Babic  4:11 PM
                        Okay! Let's start from a begining.

                        Do you have a concept name, logo? More about the concept, perhaps some slides that explain more?""

                        I come up with three key words: Price, fashion and opinion
                        I go to https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=page&tab4=
                        and try to create slideshow using https://conesult.com/concept/conesult?tab2=page&tab=concept
                        as help and the help example site looks like this:
                Concept
                Conesult
                Company; Business development
                Digital (business) incubator & accelerator accessible to everyone at any time
                #businessinnovation  #managementconsultation  #developmentcommunity
                I
                CONCEPT
                II
                CONSULTATION
                III
                COLLABORATION
                Page
                Plan
                Pitch


                2
                CONNECTING

                CHANNELS
                CONCEPTS
                CONSULTATIONS
                COLLABORATIONS

        I choose "Presentation" template in canva.com and come
                to edit page: https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
        I first add photo: <div><span data-canva-clipboard="ewAiAGEAIgA6ADUALAAiAGQAIgA6ACIAQgAiACwAIgBoACIAOgAiAHcAdwB3AC4AYwBhAG4AdgBhAC4AYwBvAG0AIgAsACIAYwAiADoAIgBEAEEARQA5AFAAYwBpAHoAWABSAG8AIgAsACIAaQAiADoAIgB3AGEARgBBAHMANQBIAC0AeABtAHkAVwBCAE4AYgBrAFgAbwAzAGcASABnACIALAAiAGIAIgA6ADEANgA0ADkAMwA2ADYAMgA1ADgAOQA2ADcALAAiAEEAPwAiADoAIgBCACIALAAiAEEAIgA6AFsAewAiAEEAIgA6ADEAMAA4ACwAIgBCACIAOgAzADEAMQAuADUAOQA0ADcANAA2ADcAMQA2ADYAOQA3ADkANQAsACIARAAiADoAMQAyADkANgAuADgAMQAwADUAMAA2ADUANgA2ADYAMAA0ACwAIgBDACIAOgA4ADYANAAsACIAQQA/ACIAOgAiAEkAIgAsACIAYQAiADoAewAiAEIAIgA6AHsAIgBBACIAOgB7ACIAQQAiADoAIgBNAEEARABHAHgALQBDAEYAUwBDAHcAIgAsACIAQgAiADoANAB9ACwAIgBCACIAOgB7ACIARAAiADoAMQAyADkANgAuADgAMQAwADUAMAA2ADUANgA2ADYAMAA0ACwAIgBDACIAOgA4ADYANAB9AH0AfQB9AF0ALAAiAEIAIgA6ADEAOQAyADAALAAiAEMAIgA6ADEAMAA4ADAAfQA="></span></div>
        and choose to use the photo as background picture.
        Then I add header: "Price, fashion and opinion" I download it as standard pdf
        file and give the file name "Conesult presentation made in canva.com.pdf" and
        also share to my presentation to my employer Toni Babic and send him text:
        Here is beginning of my canva slideshow:
        https://www.canva.com/design/DAE9PcizXRo/6p1-4zkpiyXHyHjpDrBsXQ/view?utm_content=DAE9PcizXRo&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel
        (sorry delay, just first page) and I think about using the picture in which woman with
        sunglasses poses as logo and u slogan "Price, fashion and opinion"
        I commit and push with message "Beginning work with conesult concept slideshow in website
        https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit 7.4.2022."
    *@

    @* 9.4.2022. I get additional instructions: Toni Babic  2:46 PM
                Okay!

                Are you more comfortable with writing? Example to explain your concept idea with plain text? Could be one paragraph, or one page text!
                Attila Starkenius  3:36 AM
        Okay Toni, I try ;)
        I commit and push with message: "Additional instructions to Conesult concept 9.4.2022."*@

    @* 11.4.2022. I get additional instructions to Conecult concept: SUNDAY
        Toni Babic sent the following message at 7:54 PM
        View Toni’s profileToni Babic
        Toni Babic  7:54 PM
        The goal is to crystallize your concept, the better we see it and understand it, the better we can develop it.

        It will be up to us to find ways to do so...
        TODAY
        Attila Starkenius sent the following message at 1:15 PM
        View Attila’s profileAttila Starkenius
        Attila Starkenius  1:15 PM
        That sounds nice, I will do my best I commit and push
        with message "Additional instructions to making a concept description of conesult concept 11.4.2022." *@

    @* 13.4.2022. Link to my conesult concept slideshow
        is: https://www.canva.com/design/DAE9PcizXRo/6p1-4zkpiyXHyHjpDrBsXQ/view?utm_content=DAE9PcizXRo&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel
        but my edit page for it is: https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
        and I change name from "Namnlös design" to: ""Cloth combination price estimation"
        (by the way Canva autosaves the changes, but if I want to share the project
        I do it manually because I don't find any "automatically
        share the link to this project when change in project occurs option"'and
        then I add a page with three headers "Price", "Fashion" and "Opinion" but change
        font size from 90 to 70 to make place to all text and commit and
        push with message: "Adding second page in conesult concept slideshow
        https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit 13.4.2022."*@

    @* 19.4.2022. I continue working with conesult concept presentation at
                                        the edit page https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
                                        and add content to second page under the three
                                        headers"Price", "Fashion" and "Opinion":
                                        Header: Price
                                        Paragraph: Find the lowest price to clothes you want to buy - and at the same time
                                        keep track of what combination of clothes is most popular and rising
                                        fashion trends. So that you don't have to compromise the money you invest to clothes.
                                        Header: Fashion
                                        Paragraph: Keep track on the fashion that is popular either in long or short
                                time aspect while also getting information about the price of the clothes you want to buy.
                                Header: Opinion
                                Paragraph: Register an account to be able to rate the cloth combinations that you
                                have tried - or just check out other people's opinions about how clothes fit together.
                                I share this to Toni Babic
                                in Linkedin chat: "
                        TODAY
                        View Attila’s profileAttila Starkenius
                        Attila Starkenius  1:38 AM
                        Sorry late reply I have written concept description on the second page of presentation: https://www.canva.com/design/DAE9PcizXRo/6p1-4zkpiyXHyHjpDrBsXQ/view?utm_content=DAE9PcizXRo&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink

                        Untitled design
                        canva.com • 1 min read
                        "

                        I also edit in: https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=plan&tab4=
                        problem description
                        short description(What problem we solve)
                        to: ""Find out while buying clothes from internet, whats common cloth combinations and lowest prices""
                        And send that also to Toni Babic:
                canva.com • 1 min read
                View Attila’s profileAttila Starkenius
                Attila Starkenius  1:44 AM
                Also the problem description(short description) I have added to and will write further extensive description in: https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=plan&tab4=

                Conesult - Digital business incubator
                conesult.com • 1 min read



                Maximize compose field
                Attach an image to your conversation with Toni Babic
                Attach a file to your conversation with Toni Babic

                Open GIF Keyboard

                Open Emoji Keyboard
                Send

        I commit and push with message: "Fixing
        https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit second page
        and https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=plan&tab4= short problem
        description 19.4.2022."
    *@

    @* 23.4.2022. I get additional instructions: conesult.com • 1 min read
                        Toni Babic sent the following message at 7:22 AM
                        View Toni’s profileToni Babic
                        Toni Babic  7:22 AM
                        Ok. What about concept name and logo? This only will add so much to a big picture to those who will like to understand your concept?
                        Attila Starkenius sent the following message at 8:37 AM
                        View Attila’s profileAttila Starkenius
                        Attila Starkenius  8:37 AM
                        Okay right, I will look at it. Sorry but today though I feel suddenly sick I hope it goes over
                        Toni Babic sent the following message at 8:39 AM
                        View Toni’s profileToni Babic
                        Toni Babic  8:39 AM
                        ok. I will update name and logo for you. And later on you can update back, because your photo and name is against our rules at Conesult, and you already long time having such, even beside few notes from me about it.

                        Hope you will get better soon!
                        Attila Starkenius sent the following message at 9:35 AM
                        View Attila’s profileAttila Starkenius
                        Attila Starkenius  9:35 AM
                        Sorry that the photo and name is against the rules what exactly is required for photo to be suitable enough?
                        Toni Babic sent the following message at 9:44 AM
                        View Toni’s profileToni Babic
                        Toni Babic  9:44 AM
                        just to not be the personal photo, just trying to think with the common sense, same with the name.
                        Attila Starkenius sent the following message at 9:46 AM
                        View Attila’s profileAttila Starkenius
                        Attila Starkenius  9:46 AM
                        Thanks for explaining i think you found good picture and also name
                        Toni Babic sent the following messages at 9:46 AM
                        View Toni’s profileToni Babic
                        Toni Babic  9:46 AM
                        🙂
                        Glad you like it.

                        I like also your idea, let us easily clarify it.
                        Attila Starkenius sent the following message at 11:39 AM
                        View Attila’s profileAttila Starkenius
                        Attila Starkenius  11:39 AM
                        Thx🙂



                        Maximize compose field
                        Attach an image to your conversation with Toni Babic
                        Attach a file to your conversation with Toni Babic

                        Open GIF Keyboard

                        Open Emoji Keyboard
                        Send

                        Open send options

                        About
                        Accessibility
                        Help Center

                        Privacy & Terms
                        Ad Choices
                        Advertising

                        Business Services
                        Get the LinkedIn app
                        More
                         LinkedIn Corp
                        TODAY
                View Attila’s profileAttila Starkenius
                Attila Starkenius  11:23 PM
                I try to be clearer in concept description
        I commit and push with message "Additional instructions 23.4.2022."
    *@

    @* 25.4.2022. I get additional instructions: SUNDAY
        Toni Babic sent the following message at 10:21 AM
        View Toni’s profileToni Babic
        Toni Babic  10:21 AM
        Okay, great!
        How the concept feature feel for you?

        Is it hard to see the purpose behind it? Do you see why and how we can use it?
        TODAY
        Attila Starkenius sent the following message at 10:27 PM
        View Attila’s profileAttila Starkenius
        Attila Starkenius  10:27 PM
        I'm not sure

        Reply to conversation with "Let me check"Let me check

        Reply to conversation with "Maybe"Maybe

        Reply to conversation with "I don't know"I don't know



        Maximize compose field
        Attach an image to your conversation with Toni Babic
        Attach a file to your conversation with Toni Babic

        Open GIF Keyboard

        Open Emoji Keyboard

        I try to continue working with ClothCombinationPriceEstimation.cshtml
        but when I view it in browser I get error: "InvalidOperationException: The partial view '_Header' was not found.
        The following locations were searched: /Views/Home/_Header.cshtml /Views/Shared/_Header.cshtml"
        so I have to first create _Header.cshtml and _Footer.cshtml files,
        those being partial view files with help of this website: https://www.tutorialsteacher.com/mvc/partial-view-in-asp.net-mvc
        like this adding those as partial views to shared folder like instructed on website
        I commit and push with message "25.4.2022. Fixing partial views _Header.cshtml and _Footer.cshtml"

    *@

    @* 2.5.2022. I get additional instructions: TUESDAY
        Toni Babic sent the following message at 10:19 AM
        View Toni’s profileToni Babic
        Toni Babic  10:19 AM
        Well, in that case you will not be able to help Conesult platform, nor your clothing service be developed at Conesult, as you don't have understanding of it -.-
        TODAY
        Attila Starkenius sent the following message at 11:15 PM
        View Attila’s profileAttila Starkenius
        Attila Starkenius  11:15 PM
        I thought the money would be coming from advertisers, who pay on a pay per click model, and web banners
        I commit and push with message "Conesult concept - adding the fact where the money comes from 2.5.2022."*@

    @* 4.5.2022. First I fix,
                        with help of this conesult concept example: https://conesult.com/concept/conesult?tab2=page&tab=concept&tab4=
                        the clocom concept page in https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
                        by changing the title in the first page to Clocom
                        and in the second page of presentation add texts, obviously with my own words instead,
                        for: Mission: Enable everyone to search for cloth combinations sorted by either price, popularity or latest trends
                        Vision: Sustain a place where you can search popular ways to combine clothes while online shopping
                        Culture: Open, flexible, transparent and equal
                        Purpose: Provide growing feedback
                        I also add a third page in https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit
                        with this example as help: https://conesult.com/concept/conesult?tab2=page&tab=concept&tab4=
                        Header: We sustain ease for customer while cloth shopping
                        Goal: Contribute to the ease while online buying clothes
                        and wanting to find out popular ways to combine clothes.
                        Intention: Help customer by showing clear figures of what is the
                        most popular way to combine one cloth with other cloths and also prices
                        so that you don't have to choose between quality and price
                        Objective: Make customers to save time while buying
                        clothes - when they can easily see what is popular way to fit clothes
                        Now I add the presentation to conesult concept page: https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=page&tab4=
                        I get additional instructions: TUESDAY
                Toni Babic sent the following message at 7:13 PM
                View Toni’s profileToni Babic
                Toni Babic  7:13 PM
                Okay! Let us write those things down, as to not have it in our hand, and to speed up the creation of the future :) With huge respect! As we want to bring good product to the world, and help people.
                TODAY
                Attila Starkenius sent the following messages at 11:23 PM
                View Attila’s profileAttila Starkenius
                Attila Starkenius  11:23 PM
                Here is presentation that I also add to https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=page&tab4=:
                https://www.canva.com/design/DAE9PcizXRo/waFAs5H-xmyWBNbkXo3gHg/edit?utm_content=DAE9PcizXRo&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
                add to concept page https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=page&tab4=

                Conesult - Digital business incubator
                conesult.com • 1 min read
        I commit and push with message: "Fixing Conesult concept
        page https://conesult.com/home?menu=concept&s=attila-starkenius&tab3=concept&tab2=page&tab4= 4.5.2022."
    *@

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <div class="content-wrapper">
            @Html.Partial("_Header")
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                @Html.Partial("_Footer")
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
